.header-box {
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    margin-bottom: 5rem;
}

.header-box h1 {
    font-size: 72px;
    font-family: 'Gotham Bold';
}

.header-box h2,
.header-box h4 {
    color: var(--dark-purple);
    font-family: 'Gotham Medium';
}