.currency-box {
    position: relative;
    color: var(--magnolia);
    display: flex;
    align-items: center;
    background-color: var(--dark-purple);
    border: 1px solid var(--pale-purple);
    border-width: 1px 0;
    padding: 0 3rem;
    height: 4rem;
    overflow: hidden;
    margin: 0 auto;
    width: 75vw;
    max-width: 100%;
}

.currency-box:hover {
    background-color: var(--dark-purple-hover);
}

.currency-box:hover .icon {
    transform: scale(1.2);
    transition: transform ease 0.2s;
}

.currency-box .icon {
    margin-right: 0.65rem;
}

.currency-box:hover .name,
.currency-box:hover .votes,
.currency-box:hover .vote-button {
    color: #fff;
}

.currency-box .name {
    margin-right: 0.5rem;
}

.currency-box .aka {
    margin-right: 0.5rem;
    font-weight: lighter;
    color: var(--light-purple);
}

.currency-box .star {
    position: absolute;
    left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    padding-bottom: 0.1rem;
    animation: 0.2s starAnimation;
}

.currency-box .votes {
    margin: 0 2rem 0 auto;
}

.currency-box .vote-button {
    color: var(--magnolia);
    width: 18%;
    height: 2rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--darker-purple);
    border-radius: 0.4rem;
    border: none;
    transition: opacity ease-in 0.5s, color ease-in 0.5s;
}

.currency-box .vote-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform ease-out 0.05s;
}

.currency-box .vote-button:disabled {
    cursor: not-allowed;
    color: var(--light-purple);
    opacity: 0.8;
}

.currency-box .vote-button:disabled:hover {
    transform: none;
}

.favorite {
    animation: 0.2s favoriteAnimation;
}

@keyframes favoriteAnimation {
    0% {
        transform: translateX(-0.5rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes starAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {
    .currency-box {
        width: 85vw;
    }
}

@media only screen and (max-width: 850px) {
    .currency-box {
        width: 90vw;
        padding: 0 2rem;
    }

    .currency-box .star {
        position: relative;
        left: 0;
    }
}

@media only screen and (max-width: 650px) {
    .currency-box {
        width: 100vw;
        padding: 0 1rem;
    }

    .currency-box .name {
        display: none;
    }

    .currency-box .aka {
        font-size: 20px;
        font-weight: bold;
        color: var(--magnolia);
    }

    .currency-box:hover .aka {
        color: #fff;
    }

    .currency-box .vote-button {
        width: 25%;
    }
}

@media only screen and (max-width: 500px) {
    .currency-box .vote-button {
        width: 40%;
    }
}