.currency-box {
    color: var(--magnolia);
    display: flex;
    align-items: center;
    background-color: var(--dark-purple);
    border: 1px solid var(--pale-purple);
    border-width: 1px 0;
    padding: 0 3rem;
}

.currency-box:hover {
    background-color: var(--dark-purple-hover);
}

.currency-box:hover .icon {
    transform: scale(1.1);
    transition: transform ease 0.2s;
}

.currency-box .icon {
    margin-right: 0.65rem;
}

.currency-box:hover .name,
.currency-box:hover .votes,
.currency-box:hover .vote-button {
    color: #fff;
}

.currency-box .name {
    margin-right: 0.5rem;
}

.currency-box .aka {
    font-weight: 300;
    color: var(--light-purple);
}

.currency-box .votes {
    margin: 0 2rem 0 auto;
}

.currency-box .vote-button {
    color: var(--magnolia);
    width: 18%;
    height: 2rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--darker-purple);
    border-radius: 0.4rem;
    border: none;
}

.currency-box .vote-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform ease-out 0.05s;
}

.favorite {
    
}