<div [ngClass]="{ 'currency-box' : true, 'favorite' : isFavorite }">
    <img ngClass="icon" src="{{ myCurrency.iconLink }}" alt="{{ myCurrency.name }}">
    <h2 ngClass="name">{{ myCurrency.name }}</h2>
    <h3 ngClass="aka">{{ myCurrency.aka }}</h3>
    <span ngClass="star" *ngIf="isFavorite">⭐</span>
    <h3 ngClass="votes">Votes: {{ myCurrency.votes }}</h3>
    <button ngClass="vote-button" 
    (click)="isFavorite ? sendUnvote() : sendVote()"
    [disabled]="isDisabled">
        {{ isFavorite ? "Remove Favorite" : "Vote Me!"}}
    </button>
</div>