/* You can add global styles to this file, and also import other style files */

:root {
    --darker-purple: #573aff;
    --dark-purple: #7371FC;
    --dark-purple-hover: #8a88ff;
    --medium-purple: #A594F9;
    --light-purple: #CDC1FF;
    --magnolia: #F5EFFF;
    --pale-purple: #E5D9F2;
}

body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url(assets/fonts/Gotham-Font/Gotham-Bold.otf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url(assets/fonts/Gotham-Font/GothamMedium.ttf);
    font-weight: normal;
    font-style: normal;
}